.progress-mount {
    width: 180px;
    height: 180px;
    display: grid;
    place-items: center;
}

.progress {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.progress--hidden {
    display: none;
}

.progress__rotator {
    width: 100%;
    height: 100%;
    transform-origin: 50% 50%;
}

.progress--animated .progress__rotator {
    animation: progress-spin 1.2s linear infinite;
}

@keyframes progress-spin {
    to {
        transform: rotate(360deg);
    }
}